<Configuration status="debug" name="spring-boot-kafka-log" packages="com.devglan">
    <Appenders>
        <Kafka name="Kafka" topic="test">
            <PatternLayout pattern="%sys{container.name} - %p - %date %message "/>
            <Property name="bootstrap.servers">kafka:9092</Property>
        </Kafka>
        <Async name="Async">
            <AppenderRef ref="Kafka"/>
        </Async>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%sys{container.name} - %p-  %d{yyyy-MM-dd HH:mm:ss,SSS}][%c{1}:%L][%-5p]  %m%n"/> <!-- Uppdaterad layout även här -->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Kafka"/>
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="org.apache.kafka" level="WARN"/>
    </Loggers>
</Configuration>

