<configuration>
    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{0} - %msg%n</pattern>
        </encoder>
        <topic>log_topic</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy"/>
        <producerConfig>bootstrap.servers=localhost:9092</producerConfig>
    </appender>

    <root level="info">
        <appender-ref ref="KAFKA" />
    </root>
</configuration>
